# ==========================================
# Lascar Blog - Variables de Entorno
# ==========================================

# URL base del Backend Guilliman (Fastify / NestJS)
API_BASE_URL=http://localhost:3000/api/v1